.header__subtitle {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  width: 388px;
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}