.header__title {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 2;
  max-width: 730px;
  line-height: 96px;
  align-self: baseline;
  align-self: center;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  width: 730px;
  left: 64px;
  font-size: 102px;
  font-weight: 600;
}